
.search {
  input {
    height: 100%;
    width: 200px;
    vertical-align: top;
    margin-left: 50px;
    font-size: 15px;
    padding-left: 20px;
    border: none;
    border-bottom: darkmagenta;
    color: magenta;

    &:focus {
      outline: none;
      border-color: rgb(236, 69, 102);
      color: rgb(236, 69, 102);
    }

    &::placeholder {
      color: rgb(199, 197, 197);
    }
  }

  .fa {
    &:hover {
      cursor: pointer;
      color: darkmagenta;
    }
  }
} 