* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.beerCard {
  display: grid;
  grid-template-columns: 10% auto;
  grid-auto-rows: minmax(auto, 1fr);
  border-bottom: 3px solid magenta;
  border-radius: 3px;
  background-color: #32746d;
  height: auto;
  color: ivory;
  font-size: 1.25rem;
  .image {
    display: flex;
    align-self: center;
    grid-area: 1 / 1 / span 6 / span 1;
    max-height: 25vh;
    max-width: 90%;
    padding: 5px;
    justify-self: center;
  }
  .name {
    grid-area: 1 / 2 / span 2 / span 1;
    margin: 1px;
    align-self: center;
    text-shadow: 2px 2px darkmagenta;
  }
  .tagline {
    grid-area: 3 / 2 / span 1 / span 1;
    margin: 1px;
    font-size: 1.25rem;
    font-style: italic;
    align-self: center;
  }
  .description {
    grid-area: 4 / 2 / span 3 / span 1;
    margin: 1px;
    padding: 2px;
    align-self: center;
    font-size: 1.1rem;
  }
}













