* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.beerCard {
  display: grid;
  grid-template-columns: 10% auto;
  grid-auto-rows: minmax(auto, 1fr);
  border: 2px solid grey;
  background-color: darkslategray;
  height: 20vh;
  margin: 5px 0;
  color: whitesmoke;
  font-family: monospace;
  font-size: 1.25rem;
}

.image {
  display: flex;
  grid-area: 1 / 1 / span 6 / span 1;
  height: 100%;
  padding: 5px;
  justify-self: center;
}

.name {
  grid-area: 1 / 2 / span 2 / span 1;
  margin: 1px;
  align-self: center;
}

.tagline {
  grid-area: 3 / 2 / span 1 / span 1;
  margin: 1px;
  font-size: 1.25rem;
  font-style: italic;
  align-self: center;
}

.description {
  grid-area: 4 / 2 / span 3 / span 1;
  margin: 1px;
  align-self: center;
}





