
.topBar {
  display: flex;
  flex-direction: column;
  background-color: darkslategrey;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100vw;
  z-index: 1;
  border-bottom: 3px solid darkmagenta;
  justify-content: center;
  align-items: center;
  padding-right: 75px;
  .title {
    h1 {
      font-size: 3rem;
      color: ivory;
      text-shadow: 2px 2px darkmagenta;
    }
    h3 {
      font-size: 1.25rem;
      color: ivory;
      text-shadow: 2px 2px darkmagenta;
      justify-content: center;
      align-items: center;
      }
    
  }
}